<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hue</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/fd2e45dcdc.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="/js/active.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="chatpage fluid">
            <nav>
                <h2 class="logo">HUE</h2>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/Chat" class="active">CHAT</a></li>
                    <li><a href="/To-do">TO DO LIST</a></li>
                </ul>
                <div class="loginIcon">
                    <a href="#" class="fa-solid fa-lock"></a>

                </div>
            </nav>
            <div class="chat">
                <div id="heading">
                    <script src="/js/heading.js"></script>
                    </div>
                <hr>
                <div class="left">
                    <h3>History</h3>
                    <div class="history">
                        <p>What is your name</p>
                        <a class="fa-solid fa-pencil"></a>
                        <a class="fa-solid fa-trash"></a>
                    </div>
                    <div class="history">
                        <p>Who is Barack Obama?</p>
                        <a class="fa-solid fa-pencil"></a>
                        <a class="fa-solid fa-trash"></a>
                    </div>
                    <div class="history">
                        <p>What is the capital city of Kenya?</p>
                        <a class="fa-solid fa-pencil"></a>
                        <a class="fa-solid fa-trash"></a>
                    </div>
                    <div class="history">
                        <p>What is your name</p>
                        <a class="fa-solid fa-pencil"></a>
                        <a class="fa-solid fa-trash"></a>
                    </div>
                    <div class="history">
                        <p>Who is Barack Obama?</p>
                        <a class="fa-solid fa-pencil"></a>
                        <a class="fa-solid fa-trash"></a>
                    </div>
                    <div class="history">
                        <p>What is the capital city of Kenya?</p>
                        <a class="fa-solid fa-pencil"></a>
                        <a class="fa-solid fa-trash"></a>
                    </div>
                    <div class="history">
                        <p>Who is Barack Obama?</p>
                        <a class="fa-solid fa-pencil"></a>
                        <a class="fa-solid fa-trash"></a>
                    </div>

                </div>
                <div class="right">
                    <div class="row">
                        <div class="message">
                            <img src="https://example.com/avatar.png"
                                class="avatar-left">

                            <div class="received">

                                <p>Hello</p>
                            </div>
                        </div>
                        <div class="message">
                            <img src="https://example.com/avatar.png"
                                class="avatar-right">

                            <div class="sent">
                                <p>Hello. How are you?</p>
                            </div>
                        </div>
                        <div class="message">
                            <img src="https://example.com/avatar.png"
                                class="avatar-left">

                            <div class="received">
                                <p>Am very fine thank you.</p>
                            </div>
                        </div>


                    </div>
                    <div class="mic-hold d-grid mb-2" id="textIn">
                        <input type="text" name="input" id="question" placeholder="Try say something" class="form-control mt-5"/>
                        <a class="fa-solid fa-microphone" id="btn" aria-readonly="true" value="<%= value%>"></a>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
