<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Codename Assistant</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
	<div class="main">
		<div class="container">
			<div class="image-container">
				<img src="/images/image.gif">
			</div>
			<h1>H. U. E</h1>
			<p>I am a virtual assistant</p>
		</div>
		<div class="input">
            <button class="talk"><i class="fas fa-microphone-alt"></i></button>
            <h1 class="content">Let's Chat</h1>
        </div>
	</div>
</body>
<script type="text/javascript" src="/js/sandbox1.js"></script>
</html>
