<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HUE</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet"
            href="./font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="/js/active.js"></script>
    </head>
    <body>
        <div class="container">
            <nav>
                <h2 class="logo">HUE</h2>
                <ul>
                    <li><a href="/" class="active">HOME</a></li>
                    <li><a href="/Chat">CHAT</a></li>
                    <li><a href="/To-do">TO DO LIST</a></li>
                </ul>
                <div class="loginIcon">
                    <a href="#" class="fa fa-lock"></a>

                </div>
            </nav>
            <div class="otherbody">
                <div id="typed" class="typing">
                    <script src="/js/index.js"></script>
                </div>
                
            </div>
            

        </div>
        <footer>
            <p>Follow us on</p>
            <a href="#" class="fa fa-github"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </footer>


    </body>
</html>